// COLORS

$color-primary: #3e7488;
$color-secondary: #3285c6;

$color-black: #353535;
$color-black-lighter: #e3e3e3;
$color-black-lightest: #fcfcfc;
$color-white: #fff;

$color-red: #ff5d5d;
$color-green: #1ee795;
